spring:
  application:
    name: SE_form_backend

  datasource:
    url: jdbc:postgresql://localhost:5432/isslab
    username: isslab
    password: isslab

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: INFO
    org.hibernate.SQL: INFO